<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>

    <!-- Show progress -->
    <arg value="p"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>test</file>

    <!-- Include all rules from the Laminas Coding Standard -->
    <rule ref="LaminasCodingStandard"/>

    <rule ref="Squiz.Classes.ClassFileName.NoMatch">
        <exclude-pattern>src/ConfigProvider.*.php</exclude-pattern>
    </rule>

    <!-- See https://github.com/slevomat/coding-standard/issues/523 -->
    <rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.InvalidFormat">
        <exclude-pattern>test/Unit/Iterator/FilterPostByTagIteratorTest.php</exclude-pattern>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>src/ConfigProvider.php</exclude-pattern>
        <exclude-pattern>src/Items/Adapter/ItemListerFilesystem.php</exclude-pattern>
        <exclude-pattern>test/Unit/Entity/BlogArticleTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/InputFilter/BlogArticleInputFilterFactoryTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Items/Adapter/ItemListerFilesystemTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Items/ItemListerFactoryTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/DataTrait.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/EpisodeFilterIteratorTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/FilterPostByCategoryIteratorTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/FilterPostByTagIteratorTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/PublishedItemFilterIteratorTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/Iterator/RelatedPostsFilterIteratorTest.php</exclude-pattern>
        <exclude-pattern>test/Unit/InputFilter/BlogArticleInputFilterFactoryTest.php</exclude-pattern>
    </rule>
</ruleset>
